*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #ffffff;
    --text-color: #191D23;
    --secound-color: #75797F;
    --main-color: #FE6A86;
    --header-color: rgba(254, 226, 85, 0.3);
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

header{
    background-color: var(--header-color);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    padding: 30px 18%;
    transition: .3s;
}

.navlist{
    display: flex;
}

.navlist li{
    position: relative;
}

.navlist a{
    font-size: var(--p-font);
    color: #9B693E;
    font-weight: 500;
    padding: 10px 27px;
}

/* make the underline when u hover to the nav */
/*.navlist a::after{*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 0;*/
/*    height: 2px;*/
/*    background: var(--main-color);*/
/*    bottom: -3px;*/
/*    Left: 0;*/
/*    transition: ease .40s;*/
/*}*/

/*.navlist a:hover::after{*/
/*    width: 100%;*/
/*}*/

.logo img{
    max-width: 50%;
    width: 130px;
    height: auto;
}

.cafe-name{
    color: #9B693E;
    margin: 0;
    font-size: var(--p-font);
    padding: 10px 27px;
}



