*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #ffffff;
    --text-color: #191D23;
    --secound-color: #75797F;
    --main-color: #FE6A86;
    --main-color-light: #faacba;
    --header-color: #FFF6CC;
    --btn-color: #FFDD13;
    --btn-hover-color: #ecd134;
    --btn-pink-hover-color: #f63055;
    --brown-text: #9B693E;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

section{
    width: 100%;
    height: auto;
}

section .header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background-color: var(--header-color);
    z-index: 1000;
}

.logo img{
    max-width: 50%;
    width: 130px;
    cursor:pointer;
    height: auto;
    margin: 7px 0;
}

.navlist li{
    display: inline-block;
    margin: 0 15px;
}

.navlist li a{
    text-decoration: none;
    color: #9B693E;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

.navlist li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: var(--main-color);
    display: block;
    transition: 0.2s;
}

.navlist li a:hover::after{
    width: 100%;
}

.icon i{
    font-size: 20px;
    color: var(--text-color);
    /*background: var(--text-color);*/
    /*border-radius: 50%;*/
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: 0.3s;
}

.icon i:hover{
    color: var(--main-color);
}

.banner img{

    width: 100%;
    height: 400px;
    /*position: fixed;*/
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50px;
    display: block;
}

.homepage_banner img{

    width: 100%;
    height: 500px;
    /*position: fixed;*/
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    display: block;
}

/** Homepage CSS*/
.HP-about-us{
    justify-content: center;  
    align-items: center;  
    top: 50%;
    left: 50%;  
    width: 100%;
    text-align: center;
}

.HP-heading{
    font-size: 4rem;    
    color: var(--main-color);    
    margin-top: 50px;
    margin-bottom: 40px;
}

.HP-desc{
    font-size: 1.1rem;
    color: var(--text-color);
    margin-bottom: 50px;
    line-height: 1.8;
}

.btn-yellow{
    padding: 15px 25px;
    background: var(--btn-color);
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    border-radius: 0.375rem;
    margin-bottom: 70px;
    line-height: 1.8;
}

.btn-yellow:hover{
    background: var(--btn-hover-color);
}

.HP-menu{
    justify-content: center;  
    align-items: center;  
    top: 50%;
    left: 50%;  
    width: 100%;
    text-align: center;
    background-color: var(--header-color);
}

.HP-menu-heading{
    font-size: 40px;
    color: var(--main-color);  
    padding-top: 40px;  
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-pink{
    padding: 15px 25px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 16px;
    font-weight: 500;
    border-radius: 0.375rem;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 12;
}

.btn-pink:hover{
    background: var(--btn-pink-hover-color);
}

.HP-mid img{
    width: 100%;
    height: 400px;
    /*position: fixed;*/
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    display: block;
    margin-bottom: 20px;
}

.HP-reservation{
    padding: 20px 40px 20px 40px;
    width: 100%;
    height: auto;
    /*position: fixed;*/
    object-position: center;
    object-fit: ;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    text-align: center;
}

.HP-res-1{
    flex:1 1 20rem;
}
.HP-res-2{
    flex:1 1 40rem;
}

.footer{
    background-color: var(--header-color);
}

.container{
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board{
    max-width: 1200px;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    padding: 3em 0;
}

.review-title{
    color: var(--text-color);
}

.swiper {
    width: 300px;
    height: auto;
  }

.swiper .swiper-slide .flex{
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper .swiper-slide .comments{
    background-color: var(--main-color-light);
    padding: 1.5em 2em;
    width: 50%;
    border-radius: 5px;
    font-size: .9em;
    position: relative;
}

.swiper .swiper-slide .comments::after{
    content: '';
    position: absolute;
    bottom: -19px;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--main-color-light);
    z-index: -99;
}

.swiper .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.swiper .profile img{
    border-radius: 50%;
    border: 5px solid var(--main-color);
    margin: 10px 0;
    width:  150px;
    height: 150px;
    object-fit: cover
}

.swiper .profile > a{
    text-decoration: none;
    color: var(--text-color);
}

.swiper .profile > span{
    color: var(--main-color);
    font-size: .8em;
}

.swiper .swiper-button-prev, .swiper-button-next{
    color: rgb(0, 108, 254);
    display: none;
} 

@media (min-width: 320px) {
    .board{
        width: auto;
    }

    .swiper {
        width: 350px;
      }

      .board > h1, p{
          padding: 0 1em;
      }
}

@media (min-width: 768px) {
    .board{
        width: 100%;
    }

    .swiper {
        width: 600px;
      }

    .swiper .swiper-button-prev, .swiper-button-next{
        display: initial;
    }

}

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--header-color);
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: var(--secound-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 550;
    text-transform: capitalize;
    color: var(--brown-text);
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.footer-content img{
    position: sticky;
    left: 200rem;
    width: 170px;
    height: auto;
    margin-top: -180px;
    opacity: 70%;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.8rem 0 2rem 0;
}
.socials li{
    margin: 0 10px;
    padding-bottom: 15px;
}
.socials a{
    text-decoration: none;
    color: var(--secound-color);
}
.socials a i{
    font-size: 1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: var(--main-color);
}

.footer-bottom{
    background: var(--header-color);
    width: 100vw;
    padding: 15px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 12px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    font-style: italic;
}
.footer-line{
    border: 0.5px solid #ddddddc1;
}

/** MENU */
.sub-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0 5px 0;

}

.sub-header-wrapper p{
    color: var(--main-color);
    font-size: 3vw;
    width: fit-content;
    padding: 0 0 0 100px;

}


/* SEARCH BAR */
.input-box {
    right: 20px;
    position: absolute;
    height: 50px;
    max-width: 400px;
    width: 100%;
    background: #fff;
    margin: 0 20px;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.input-box i,
.input-box .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input-box i {
    left: 20px;
    font-size: 30px;
    color: var(--main-color);
}
.input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 1.5vw;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 30px;
    color: var(--main-color);
    background-color: transparent;
}
.input-box .button {
    right: 0px;
    font-size: 18px;
    height: 50px;
    font-weight: 400;
    color: #ffffff;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    cursor: pointer;
}

.input-box .button:active {
    transform: translateY(-50%) scale(0.98);
}

/* Responsive */
@media screen and (min-width: 400px) {
    .input-box {
        width: 200px;
        height: 20px;
        margin: 0 8px;
    }

    .input-box i {
        left: 12px;
        font-size: 14px;
    }

    .input-box input {
        font-size: 14px;
        padding: 0 80px 0 20px;
    }

    .input-box .button {
        height: 20px;
        font-size: 12px;
        padding: 8px 18px;
    }
}

@media screen and (min-width: 992px) {
    .input-box {
        width: 400px;
        height: 30px;
        margin: 0 8px;
    }

    .input-box i {
        left: 12px;
        font-size: 14px;
    }

    .input-box input {
        font-size: 14px;
        padding: 0 80px 0 20px;
    }

    .input-box .button {
        height: 30px;
        font-size: 12px;
        padding: 8px 18px;
    }
}

hr{
    border: 1px solid var(--main-color);
}

section .menu-nav{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    right: 0;
    left: 0;
    z-index: 1000;
}

.menu-navlist li{
    display: inline-block;
    margin: 0 15px;
}

.menu-navlist li a{
    color: var(--main-color);
    font-weight: 500;
    font-size: 2.2vw;
    transition: 0.1s;
}

.menu-navlist li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: var(--main-color);
    display: block;
    transition: 0.2s;
}

.menu-navlist li a:hover::after{
    width: 100%;
}

.menu{
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(255,255,255,.80), rgba(255,255,255,.90)),url("../images/pokecafe-bg.jpg");
}

.menu .box-container{
    padding-left: 2% ;
    padding-right: 2%;
    /*padding: 20px 40px 20px 40px;*/
    width: 100%;
    height: auto;
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    display: grid;

}

@media (min-width: 40px){
    .menu .box-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.menu .box-container img{
    width: 30vw;
    height: 20vw;
    max-width: 350px;
    max-height: 200px;
}

.menu .box-container .box{
    width: 30vw;
    height: 20vw;
    max-width: 350px;
    max-height: 350px;
    margin: 10px;
    padding: 0 0 0 0;
    background: var(--bg-color);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    justify-content: left;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.menu .box-container .box .item-text{
    padding: 10px 20px 10px 0px;
}

.menu .box-container .box .item-text h3{
    padding-left: 25px;
}

.menu .box-container .box .item-text .item-desc{
    font-size: small;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #75797F;
}

.menu .box-container .box .price{
    display: flex;
    align-self: end;
    font-weight: bold;
    padding-left: 25px;
    padding-bottom: 5px;
}

.menu .box-container .box .btn{
    margin-bottom: 10px;
    margin-right: 10px;
    position: absolute;
    font-size: small;
    bottom: 5px;
    right: 5px;
    background: var(--main-color);
    color: white;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
    justify-content: flex-end;
}

.menu .box-container .category-btn{
    font-size: small;
    position: absolute;
    top: 20px;
    left: 20px;
    background: var(--main-color);
    color: white;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
}

.menu .menu-bottom-img > * {
    flex: 1;
}

.menu .menu-bottom-img #pika-bottle-img{
    width: 200px;
    height: auto;
    align-self: flex-end;
}

/* END FOR MENU PAGE */

/* login/registration */

.form-body{
    background: linear-gradient(rgba(255,255,255,.80), rgba(255,255,255,.90)),url("../images/pokecafe-bg.jpg");
    background-size: contain;
    min-height: 100vh;
    display: flex;
    align-items: center;    
    justify-content: center;
}

.form-container{
    margin-top: 2rem;
}

.register-container{
    margin-top: 4rem;
}

.form-card-logo img{
    width: 150px;
    height: 150px;
}

.form-container h1,
.form-container h2{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FE6A86;
    font-size: 3.5rem;
}

.exclamation {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    color: white;
    text-shadow: -1px -1px 0 #FE6A86, 1px -1px 0 #FE6A86, -1px 1px 0 #FE6A86, 1px 1px 0 #FE6A86;
    font-size: 120%;
}

.form-container h2{
    font-size: 1.375rem;
    margin-top: 20px;
}

.form-container p{
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 15px;
}

.form-card{
    text-align: center;
    background-color: white;
    width: 500px;
    height: auto;
    padding: 0.25rem 1.5rem 1.5rem;
    border-radius: 35px;
    margin: 10px auto 0;
    position: relative;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.24));
}

.form-card-logo, .form-card-header, .form-card-input, .form-card-footer{
    text-align: center;
}

.form-card-input input[type=text],
.form-card-input input[type=tel],
.form-card-input input[type=email],
.form-card-input input[type=password]{
    outline: none;
    border: none;
    border-bottom: 1.2px groove var(--secound-color);
    width: 24rem;
    height: auto;
    margin: 14px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-indent: 2px;
}

.form-card-input input[type=text]::placeholder,
.form-card-input input[type=tel]::placeholder,
.form-card-input input[type=email]::placeholder,
.form-card-input input[type=password]::placeholder{
    color: rgba(0, 0, 0, 0.4);
}

.form-card-input input[type=text],
.form-card-input input[type=tel],
#password,
#confirmPassword{
    width: 11.1rem;
}

.register-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-item-other{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    margin-bottom: 0.8rem;
    font-weight: 500;
}

.form-item-other .checkbox{
    display: flex;
    align-items: center;
    margin-right: 2.8rem;
    color: rgba(0, 0, 0, 0.4);
    border-color: #808080;  
}

.form-item-other .checkbox label{
    margin-left: 5px;
}


.form-container a{
    text-decoration: none;
    color: #9B693E;
    font-family: 'Open Sans', sans-serif;
}

.form-card-input button{
    margin: 0.5rem;
    width: 24rem;
    height: 2.2rem;
    background: var(--main-color);
    border-radius: 10px;
    border: none;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 1.063rem;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 4px 3px rgba(0, 0, 0, 0.168);
}

.login-btn-google button{
    background: white;
    color: rgba(0, 0, 0, 0.54);
    letter-spacing: 0.2px;
}

.login-btn-google img{
    width: 17px;
    height: 17px;
    margin-bottom: 3.5px;
    margin-right: 7px;
    vertical-align: middle;
}

.form-card-footer,
.register-input p{
    font-size: 0.78rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0.5rem;
}

.register-input p{
    font-size: 0.78rem;
    margin-bottom: auto;
}

/* login/registration END */

/* profile */
.banner h1{
    font-size: 4rem;
    color: #FE6A86;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
}

hr {
    margin: 0;
    padding: 0;
}

.profile-picture {
    border-radius: 50%;
    width: 12.5rem;
}
  
.edit-profile-figure {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    border-radius: 1.25rem;
    background-color: white;
    width: 50rem;
    height: 37.5rem;
    margin-top: 6.25rem;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.view-profile-figure {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    border-radius: 1.2rem;
    background-color: white;
    width: 50rem;
    height: 25rem;
    margin: 6.25rem;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
  
figcaption {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    display: block;
    color: #FE6A86;
    margin: 3.125rem;
}

figcaption h2 {
    color: black;
    font-weight: bold;
    line-height: 1.5;
}

figcaption titletext {
    color: #75797F;
    line-height: 1.5;
    font-weight: bold;
}

figcaption contenttext {
    color: #75797F;
    line-height: 1.5;
    font-weight: lighter;
}

.background-image {
    background-image: url("../images/profile/background_pic2.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.8125rem;
}
  
.profile-button {
    display: block;
    margin-top: 1.25rem;
    padding: 0.625rem 1.25rem;
    background-color: #FE6A86;
    color: white;
    border: none;
    border-radius: 0.625rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.edit-wrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    color: #FE6A86;
}

.edit-wrapper h3 {
    align-items: center;
}

.edit-profile {
    margin: 0rem;
    padding: 0rem;
}

.profile-description-wrapper {
    display: flex;
    flex-direction: row;
}

.upload-wrapper {
    display: inline-block;
    position: relative;
    margin: 1.875rem;
}
  
.upload-wrapper label {
    background-color: #FE6A86;
    color: #ffffff;
    padding: 0.625rem 0.9375rem;
    border-radius: 1.25rem;
    cursor: pointer;
}
  
.upload-wrapper input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

div[contenteditable="true"] {
    border: 1px solid black;
    border-radius: 1.875rem;
    padding: 0.625rem;
    font-size: 1rem;
    color: black;
}

select {
    border: 1px solid black;
    width: 16rem;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    background-color: white;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
}

.delete-account {
    border-radius: 1.25rem;
    background-color: #9B693E;
    color: white;
    font-size: 1.25rem;
    border: none;
    margin-right: 17rem;
    padding: 0.8rem 1.4rem;
}

.cancel-edit {
    border-radius: 1.25rem;
    background-color: #FFDD13;
    color: white;
    font-size: 1.25rem;
    border: none;
    padding: 0.625rem 1.25rem;
    margin-right: 1.25rem;
}

.save-edit {
    border-radius: 1.25rem;
    background-color: #FE6A86;
    color: white;
    font-size: 1.25rem;
    border: none;
    padding: 0.625rem 1.25rem;
}

/* profile end */
