*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #ffffff;
    --text-color: #191D23;
    --secound-color: #75797F;
    --main-color: #FE6A86;
    --main-color-light: #faacba;
    --header-color: #FFF6CC;
    --btn-color: #FFDD13;
    --btn-hover-color: #ecd134;
    --btn-pink-hover-color: #f63055;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

section{
    width: 100%;
    height: auto;
}

section .header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background-color: var(--header-color);
    z-index: 1000;
}

.logo img{
    max-width: 50%;
    width: 130px;
    cursor:pointer;
    height: auto;
    margin: 7px 0;
}

.navlist li{
    display: inline-block;
    margin: 0 15px;
}

.navlist li a{
    text-decoration: none;
    color: #9B693E;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

.navlist li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: var(--main-color);
    display: block;
    transition: 0.2s;
}

.navlist li a:hover::after{
    width: 100%;
}

.icon i{
    font-size: 20px;
    color: var(--text-color);
    /*background: var(--text-color);*/
    /*border-radius: 50%;*/
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: 0.3s;
}

.icon i:hover{
    color: var(--main-color);
}

.banner img{

    width: 100%;
    height: 400px;
    /*position: fixed;*/
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50px;
    display: block;
}

.homepage_banner img{

    width: 100%;
    height: 500px;
    /*position: fixed;*/
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    display: block;
}

/** Homepage CSS*/
.HP-about-us{
    justify-content: center;  
    align-items: center;  
    top: 50%;
    left: 50%;  
    width: 100%;
    text-align: center;
}

.HP-heading{
    font-size: 5rem;    
    color: var(--main-color);    
    margin-top: 50px;
    margin-bottom: 40px;
}

.HP-desc{
    font-size: 1.1rem;
    color: var(--text-color);
    margin-bottom: 50px;
    line-height: 1.8;
}

.btn-yellow{
    padding: 15px 25px;
    background: var(--btn-color);
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    border-radius: 0.375rem;
    margin-bottom: 70px;
    line-height: 1.8;
}

.btn-yellow:hover{
    background: var(--btn-hover-color);
}

.HP-menu{
    justify-content: center;  
    align-items: center;  
    top: 50%;
    left: 50%;  
    width: 100%;
    text-align: center;
    background-color: var(--header-color);
}

.HP-menu-heading{
    font-size: 3vw;    
    color: var(--main-color);  
    padding-top: 50px;  
    margin-top: 50px;
    margin-bottom: 40px;
}

.btn-pink{
    padding: 15px 25px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 16px;
    font-weight: 500;
    border-radius: 0.375rem;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 12;
}

.btn-pink:hover{
    background: var(--btn-pink-hover-color);
}

.HP-mid img{
    width: 100%;
    height: 400px;
    /*position: fixed;*/
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    display: block;
    margin-bottom: 20px;
}

.HP-reservation{
    padding: 20px 40px 20px 40px;
    width: 100%;
    height: auto;
    /*position: fixed;*/
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    text-align: center;
}

.HP-res-1{
    flex:1 1 40rem;
    position: relative;
}

.HP-res-2{
    flex:1 1 40rem;
}

.footer{
    background-color: var(--header-color);
}

.container{
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board{
    max-width: 1200px;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    padding: 4em 0;
}

.review-title{
    color: var(--text-color);
}

.swiper {
    width: 600px;
    height: auto;
  }

.swiper .swiper-slide .flex{
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper .swiper-slide .comments{
    background-color: var(--main-color-light);
    padding: 1.5em 2em;
    width: 50%;
    border-radius: 5px;
    font-size: .9em;
    position: relative;
}

.swiper .swiper-slide .comments::after{
    content: '';
    position: absolute;
    bottom: -19px;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--main-color-light);
    z-index: -99;
}

.swiper .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.swiper .profile img{
    border-radius: 50%;
    border: 5px solid var(--main-color);
    margin: 10px 0;
    width:  150px;
    height: 150px;
    object-fit: cover
}

.swiper .profile > a{
    text-decoration: none;
    color: var(--text-color);
}

.swiper .profile > span{
    color: var(--main-color);
    font-size: .8em;
}

.swiper .swiper-button-prev, .swiper-button-next{
    color: rgb(0, 108, 254);
    display: none;
} 

@media (min-width: 320px) {
    .board{
        width: auto;
    }

    .swiper {
        width: 320px;
      }

      .board > h1, p{
          padding: 0 2em;
      }
}

@media (min-width: 768px) {
    .board{
        width: 100%;
    }

    .swiper {
        width: 800px;
      }

    .swiper .swiper-button-prev, .swiper-button-next{
        display: initial;
    }

}

footer {
	background: var(--header-color);
	padding: 86px 0;
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box p {
	color: var(--text-color);
	line-height: 1.9;
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: var(--text-color);
}
.single-box .card-area i {
	color: var(--text-color);
	font-size: 20px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li a {
	text-decoration: none;
	color: var(--text-color);
	line-height: 2.5;
	font-weight: 100;
}
.single-box h2 {
	color: var(--text-color);
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: var(--main-color);
	color: var(--text-color);
}
.socials i {
	font-size: 18px;
	margin-right: 15px;
}
@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}

/**Menu*/
.sub-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0 5px 0;

}

.sub-header-wrapper p{
    color: var(--main-color);
    font-size: 3vw;
    width: fit-content;
    padding: 0 0 0 100px;

}

.search-form{
    flex-grow: 1;
    min-width: 30rem;
    position: absolute;
    margin-right: 30px;
    right: 20px;
    display: flex;
    align-items: center;
}

.search-form .search-box{
    color: var(--main-color);
    padding-left: 20px;
    width: 100%;
    /*min-width: 500px;*/
    height: 40px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

hr{
    border: 1px solid var(--main-color);
}

section .menu-nav{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    right: 0;
    left: 0;
    z-index: 1000;
}

.menu-navlist li{
    display: inline-block;
    margin: 0 15px;
}

.menu-navlist li a{
    color: var(--main-color);
    font-weight: 500;
    font-size: 2.2vw;
    transition: 0.1s;
}

.menu-navlist li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: var(--main-color);
    display: block;
    transition: 0.2s;
}

.menu-navlist li a:hover::after{
    width: 100%;
}

.menu{
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(255,255,255,.80), rgba(255,255,255,.90)),url("../images/pokecafe-bg.jpg");
}

.menu .box-container{
    padding-left: 2% ;
    padding-right: 2%;
    /*padding: 20px 40px 20px 40px;*/
    width: 100%;
    height: auto;
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    display: grid;

}

/*TODO: resize menu image to be the same for everything*/
@media (min-width: 40px){
    .menu .box-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.menu .box-container img{
    width: 30vw;
    height: 20vw;
    max-width: 350px;
    max-height: 200px;
}

.menu .box-container .box{
    width: 30vw;
    height: 20vw;
    max-width: 350px;
    max-height: 500px;
    margin: 10px;
    padding: 0 0 0 0;
    background: var(--bg-color);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    justify-content: left;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.menu .box-container .box .item-text{
    padding: 10px 20px 10px 0px;
}

.menu .box-container .box .item-text h3{
    padding-left: 25px;
}

.menu .box-container .box .item-text .item-desc{
    font-size: small;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #75797F;
}

.menu .box-container .box .item-text .price{
    font-weight: bold;
    padding-left: 25px;
    padding-bottom: 30px;
}

.menu .box-container .box .btn{
    margin-bottom: 10px;
    margin-right: 10px;
    position: absolute;
    font-size: small;
    bottom: 5px;
    right: 5px;
    background: var(--main-color);
    color: white;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
    justify-content: flex-end;
}

.menu .box-container .category-btn{
    position: absolute;
    top: 20px;
    left: 20px;
    background: var(--main-color);
    color: white;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
}
