/*  MENU CONTAINER */

.menu{
    padding: 40px 0 0 40px;
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(255,255,255,.80), rgba(255,255,255,.90)),url("../images/pokecafe-bg.jpg");
}

.menu .box-container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-gap: 20px;
}

.menu .box-container img{
    width: 400px;
    height: 250px;
}

.menu .box-container .box{
    width: 400px;
    height: 380px;
    margin: 15px 15px 0;
    background: var(--bg-color);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    justify-content: left;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.menu .box-container .box .item-text{
    padding: 10px 20px 10px 20px;
}

.menu .box-container .box .item-text h3{
    padding-bottom: 5px;
}

.menu .box-container .box .item-text .item-desc{
    font-size: 13px;
    color: var(--secound-color);
    padding-bottom: 10px;
}

.menu .box-container .box .menu-price{
    font-weight: bold;
    font-size: 15px;
    align-self: center;
}

.menu .box-container .category-btn{
    font-size: small;
    position: absolute;
    top: 15px;
    left: 15px;
    background: var(--main-color);
    color: white;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
}

.menu .box-container .category-btn{
    font-size: 15px;
    position: absolute;
    top: 15px;
    left: 15px;
    background: var(--main-color);
    color: white;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
}

.menu .box .po-btn-container{
    display: flex;
    justify-content: center;
}

.menu .box .po-btn{
    font-size: 15px;
    background: var(--main-color);
    color: white;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
}

.menu-bottom-img{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 20px 50px;
}

.menu-bottom-img #pika-bottle-img{
    width: 200px;
    height: auto;
}

/* MENU RESPONSIVE */
@media (max-width: 600px) {
    .menu .box .price{
        padding: 0;
        margin: 0;
    }

    .menu .box-container{
        width: 100%;
        grid-template-columns: 1fr;
    }

    .menu-bottom-img #pika-bottle-img{
        width: 100px;
        height: 100px;
    }

    .menu-bottom-img #menu-img{
        width: 90px;
        height: 100px;
    }
}
/* END FOR MENU PAGE */


/** Customer-Menu */
.homepage-menu{
    padding: 40px 0 0 40px;
    width: 100%;
    height: auto;
}

.homepage-menu .box-container{
    /* padding-left: 2% ;
    padding-right: 2%;
    /*padding: 20px 40px 20px 40px;
    width: 100%;
    height: auto;
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    display: grid; */

    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-gap: 20px;
}

/* @media (min-width: 40px){
    .homepage-menu .box-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
} */

.homepage-menu .box-container img{
    /* width: 30vw;
    height: 20vw;
    max-width: 350px;
    max-height: 200px; */

    width: 400px;
    height: 250px;
}

.homepage-menu .box-container .box{
    /* width: 30vw;
    height: 20vw;
    max-width: 350px;
    max-height: 350px;
    margin: 10px;
    padding: 0 0 0 0;
    background: var(--bg-color);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    justify-content: left;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */

    width: 400px;
    height: 400px;
    margin: 15px 15px 0;
    background: var(--bg-color);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    justify-content: left;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.homepage-menu .box-container .box .item-text{
    /* padding: 10px 20px 10px 0; */
    padding: 10px 20px 10px 20px;
}

.homepage-menu .box-container .box .item-text h3{
    /* padding-left: 25px; */
    padding-bottom: 5px;
}

.homepage-menu .box-container .box .item-text .item-desc{
    /* font-size: small;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #75797F; */
    font-size: 13px;
    color: var(--secound-color);
    padding-bottom: 10px;
    line-height: 2;
}

.homepage-menu .box-container .box .menu-price{
    /* display: flex;
    align-self: end;
    font-weight: bold;
    padding-left: 25px;
    padding-bottom: 5px; */
    font-weight: bold;
    font-size: 15px;
    align-self: center;
}

/* .homepage-menu .box-container .box .btn{
    margin-bottom: 10px;
    margin-right: 10px;
    position: absolute;
    font-size: small;
    bottom: 5px;
    right: 5px;
    background: var(--main-color);
    color: white;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
    justify-content: flex-end;
} */

.homepage-menu .box-container .category-btn{
    /* font-size: small;
    position: absolute;
    top: 20px;
    left: 20px;
    background: var(--main-color);
    color: white;
    border-radius: 30px;
    padding: 5px 10px 5px 10px; */
    font-size: small;
    position: absolute;
    top: 15px;
    left: 15px;
    background: var(--main-color);
    color: white;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
}

.homepage-menu .box .po-btn-container{
    display: flex;
    justify-content: center;
}

.homepage-menu .box .po-btn{
    font-size: 15px;
    background: var(--main-color);
    color: white;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
}

/* MENU RESPONSIVE */
@media (max-width: 600px) {
    .homepage-menu .box .price{
        padding: 0;
        margin: 0;
    }

    .homepage-menu .box-container{
        width: 100%;
        grid-template-columns: 1fr;
    }
}
/** End of Customer-Menu */

/*  CART START */

.cart-container .confirm-order-btn{
    padding: 0 20px 20px 0;
    align-self: end;
}

.cart-container #confirm-order-btn{
    width: 100px;
    border-radius: 40px;
    border: none;
    color: var(--bg-color);
    background: var(--main-color);
    padding: 5px;
}


.cart-container .total-price{
    padding: 20px 20px 20px 0;
    color: var(--main-color);
    align-self: end;
}

.cart-container .total-price span{
    color: var(--text-color);
}

.cart-main-body{
    background: linear-gradient(rgba(255,255,255,.80), rgba(255,255,255,.90)),url("../images/pokecafe-bg.jpg");
    background-size: contain;
    min-height: 20vh;
    display: flex;
    justify-content: center;
}

.cart-container .title{
    padding-top: 0;
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
    align-self: center;
}

.cart-container {
    width: 750px;
    height: auto;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

.cart-container .cart-image img{
    margin-top: 10px;
    width: 150px;
    border-radius: 10px;
}


/* back button*/
.cart-main-body .back-btn{
    padding: 20px 10px 10px 20px;
}

.cart-main-body #back-btn{
    width: 80px;
    border-radius: 40px;
    border: none;
    color: var(--bg-color);
    background: var(--main-color);
    padding: 5px;
}

.cart-item {
    padding-left: 40px;
    padding-right: 40px;
    height: 120px;
    display: flex;
    margin-bottom: 0;
    border-bottom:  1px solid #E1E8EE;
}

.delete-btn{
    Cursor: pointer;
    position: relative;
    padding-top: 50px;
    padding-right: 20px;
}

.is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}

@keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
}

.description {
    padding-left: 20px;
    margin-right: 80px;
    width: 115px;
    position: relative;
    padding-top: 50px;
}

.description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
}

.quantity {
    margin-right: 60px;
    position: relative;
    padding-top: 50px;
}
.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

button:focus,
input:focus {
    outline:0;
}

.cart-item-price {
    width: 83px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
    position: relative;
    padding-top: 50px;
}


@media (max-width: 800px) {
    .shopping-cart {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .cart-item {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cart-image img {
        width: 50%;
    }
    .cart-image,
    .quantity,
    .description {
        padding: 10px 0 0;
        width: 100%;
        text-align: center;
        align-self: center;
        margin: 6px 0;
    }

    .delete-btn{
        padding: 20px 0 0;
        display: flex;
        align-self: center;
    }

    .cart-item-price{
        padding: 10px 0 20px;
    }

    .cart-main-body .cart-container{
        width: 300px;
    }
}

/*  CART END */